.search-button{
    border:2px solid #dc2626;
    color:#dc2626;
    outline:none;
    border-radius:8px;
    padding:0.5rem 1rem;
    background:none;
}
.search-button:hover{
    color:white;
    background:#dc2626;
    border:none;
}
.search-button>a{
    appearance:none;
    text-decoration:none;
    color:inherit;
}